@using BookStore.DAO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4 class="title">Thành viên mới tham gia</h4>
@Html.Partial("~/Views/Admin/ThanhVienUpdatePartial.cshtml", AdminDAO.GetUserUpdate())
<h4 class="title">Đơn hàng mới cập nhật</h4>
@Html.Partial("~/Views/Admin/DonHangUpdatePartial.cshtml", AdminDAO.GetDonHangUpdate())
<h4 class="title">Đầu sách mới cập nhật</h4>
@Html.Partial("~/Views/Admin/DauSachUpdatePartial.cshtml", AdminDAO.GetSachUpdate())
<h4 class="title">Nhà xuất bản mới cập nhật</h4>
@Html.Partial("~/Views/Admin/NXBUpdatePartial.cshtml", AdminDAO.GetNXBUpdate())
<h4 class="title">Tác giả mới cập nhật</h4>
@Html.Partial("~/Views/Admin/TacGiaUpdatePartial.cshtml", AdminDAO.GetTacGiaUpdate())
<h4 class="title">Khuyến mại mới cập nhật</h4>
@Html.Partial("~/Views/Admin/KhuyenMaiUpdatePartial.cshtml", AdminDAO.GetKhuyenMaiUpdate())

