@model IEnumerable<BookStore.Entities.BSTACGIA>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITHIEU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUTDANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISDELETE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITHIEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUTDANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISDELETE)
        </td>
      
    </tr>
}

</table>
