@model IEnumerable<BookStore.Entities.BSUSER>


<table class="table">
    <tr>
        <th>STT</th>
        <th>
            @Html.DisplayNameFor(model => model.First().HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NGSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAIKHOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISDELETE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USRANK)
        </th>
        <th></th>
    </tr>
    @{int stt = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@stt</p>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOTEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGSINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAIKHOAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATKHAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISDELETE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USRANK)
            </td>
        </tr>
        stt++;
    }

</table>
