@model IEnumerable<BookStore.Entities.BSCTDH>

@{
    ViewBag.Title = "CTDHAdmin";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>CTDHAdmin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BSDONHANG.MADH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSSACH.TENSACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISDELETE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BSDONHANG.MADH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BSSACH.TENSACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DONGIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THANHTIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISDELETE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
