@model BookStore.Code.BookCode
@using BookStore.Code;
<link href="~/Content/css/NguoiDungCssLayout/ThongTinChiTietSP.css" rel="stylesheet" />
@{
    ViewBag.Title = "xemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<div class="ChiTietSP">
    <img src="~/HinhAnhSp/@Model.AnhBia" alt="Sach" />
    <div class="Detail">
        <p>Tên sách: @Model.TenSach</p>
        <p>Giới thiệu: @Model.GioiThieu</p>
        <p class="tacGia">Tác giả: @Model.TenTacGia</p>
        <p>Loại: @Model.TenLoai</p>
        <p>Nhà xuất bản: @Model.TenNXB</p>
        <p>Ngày xuất bản: @Model.NgayXB</p>
        <p>Số trang: @Model.SoTrang</p>
        <p>Trọng lượng: @Model.TrongLuong</p>
        <p>Khổ giấy: @Model.KhoGiay</p>
        <p>Khuyến mại: @Model.KhuyenMai</p>
        <p>Giá bìa: @Model.GiaBia VNĐ</p>
        @{
            if (SessionHelper.GetSession() != null)
            {
                Html.BeginForm("ThemGioHang", "GioHang", new { @MaSach = @Model.MaSach, @strURL = Request.Url.ToString() });
                {
                    <button class="btn btn-danger" type="submit">Mua</button>
                }
            }
        }


    </div>
</div>
