@model BookStore.Entities.BSTACGIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BSTACGIA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOITHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITHIEU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUTDANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUTDANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGSINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGSINH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
