@model IEnumerable<BookStore.Entities.BSTACGIA>

@{
    ViewBag.Title = "Quản lý tác giả";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4 class="title">Danh sách tác giả</h4>


<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GIOITHIEU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BUTDANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NGSINH)
        </th>
        <th style="width:100px">Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITHIEU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUTDANH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGSINH)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MATG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MATG })*@
            <a href="Edit?id=@item.MATG">
                <img src="~/HinhAnh/edit.png" />
            </a>
            <a href="Details?id=@item.MATG">
                <img src="~/HinhAnh/detail.png" />
            </a>
            <a href="Delete?id=@item.MATG">
                <img src="~/HinhAnh/delete.png" />
            </a>
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>