@model BookStore.Entities.BSSACH

@{
    ViewBag.Title = "Thêm sách mới";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Thêm sách mới</h2>

@using (Html.BeginForm("Create", "DauSach", FormMethod.Post, new { @enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thêm sách mới</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MALOAI, "Thể loại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MALOAI", String.Empty)
                @Html.ValidationMessageFor(model => model.MALOAI)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MANXB, "Nhà xuất bản", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MANXB", String.Empty)
                @Html.ValidationMessageFor(model => model.MANXB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TENSACH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENSACH, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.TENSACH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MATG, "Tác giả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MATG", String.Empty)
                @Html.ValidationMessageFor(model => model.MATG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SOLUONG)
                @Html.ValidationMessageFor(model => model.SOLUONG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TRONGLUONG, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.TRONGLUONG)
                @*<input type="number" class="form-control" name="TRONGLUONG"/>*@
                @Html.ValidationMessageFor(model => model.TRONGLUONG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGXB, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.NGXB)
                @*<input type="date" name="NGXB" class="form-control"/>*@
                @Html.ValidationMessageFor(model => model.NGXB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIABIA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIABIA)
                @Html.ValidationMessageFor(model => model.GIABIA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOTRANG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SOTRANG)
                @Html.ValidationMessageFor(model => model.SOTRANG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KHO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KHO)
                @Html.ValidationMessageFor(model => model.KHO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BIA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.BIA)*@
                <input type="file" accept="image/x-png, image/gif, image/jpeg" name="FileUpload"/>
                @* Thông báo trùng *@
                @ViewBag.ThongBao
                @*@Html.ValidationMessageFor(model => model.BIA)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIOITHIEU, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="GIOITHIEU"></textarea>
                @*@Html.EditorFor(model => model.GIOITHIEU)
                @Html.ValidationMessageFor(model => model.GIOITHIEU)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index", "DauSach", new { @class="btn btn-md btn-primary"})
</div>
