@model IEnumerable<BookStore.Entities.BSSACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4 class="title">Danh sách đầu sách</h4>

<table class="table table-bordered table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BSLOAI.TENLOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSNXB.TENNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSTACGIA.HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENSACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRONGLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIABIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOTRANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITHIEU)
        </th>
        <th style="width:100px">Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BSLOAI.TENLOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BSNXB.TENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BSTACGIA.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENSACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRONGLUONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOTRANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITHIEU)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MASACH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MASACH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MASACH })*@
            <a href="~/DauSach/Edit?id=@item.MASACH">
                <img src="~/HinhAnh/edit.png" />
            </a>
            <a href="~/DauSach/Details?id=@item.MASACH">
                <img src="~/HinhAnh/detail.png" />
            </a>
            <a href="~/DauSach/Delete?id=@item.MASACH">
                <img src="~/HinhAnh/delete.png" />
            </a>
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Thêm mới", "Create","DauSach",new { @class="btn btn-primary btn-sm"})
</p>