
@using PagedList.Mvc;
@model PagedList.PagedList<BookStore.Entities.BSSACH>

    @{
    ViewBag.Title = "Quản lý đầu sách";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    }

    <h4 class="title">Danh sách đầu sách</h4>

    <table class="table table-bordered table-hover">
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayName("Loại")
            </th>
            <th>
                @Html.DisplayName("NXB")
            </th>
            <th>
                @Html.DisplayName("Tác giả")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TENSACH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SOLUONG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TRONGLUONG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NGXB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GIABIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SOTRANG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().KHO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().BIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().GIOITHIEU)
            </th>
            <th style="width:100px">Chức năng</th>
        </tr>
        @{int stt = 1;}
        @foreach (var item in Model)
    {
            <tr>

                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BSLOAI.TENLOAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BSNXB.TENNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BSTACGIA.HOTEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENSACH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOLUONG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRONGLUONG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NGXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIABIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOTRANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHO)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.BIA)*@
                    <img src="~/HinhAnhSp/@item.BIA" width="50"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIOITHIEU)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.MASACH }) |
                        @Html.ActionLink("Details", "Details", new { id=item.MASACH }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.MASACH })*@
                    <a href="~/DauSach/Edit?id=@item.MASACH">
                        <img src="~/HinhAnh/edit.png" />
                    </a>
                    <a href="~/DauSach/Details?id=@item.MASACH">
                        <img src="~/HinhAnh/detail.png" />
                    </a>
                    <a href="~/DauSach/Delete?id=@item.MASACH">
                        <img src="~/HinhAnh/delete.png" />
                    </a>
                </td>
            </tr>
        stt++;
    }

    </table>
    <div class="pageList">
        @* Tạo liên kết các trang *@
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <p>
        @Html.ActionLink("Thêm mới", "Create", "DauSach", new { @class = "btn btn-primary btn-sm" })
    </p>