@model IEnumerable<BookStore.Entities.BSCTKM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BSKHUYENMAI.TENKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BSSACH.TENSACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISDELETE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BSKHUYENMAI.TENKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BSSACH.TENSACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTKM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISDELETE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
