@model BookStore.Entities.BSDONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BSDONHANG</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BSUSER.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSUSER.HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGGH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
