@using BookStore.Entities;
@using BookStore.Code;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<h3>Thời gian: @DateTime.Now.Date</h3>
@{
    if (Session["GioHang"] != null)
    {
        <h3 class="title">Đơn hàng đang chờ</h3>
        <table class="table table-bordered">
            <tr>
                <th>Ảnh Bìa</th>
                <th>Mã Sách</th>
                <th>Tên Sách</th>
                <th>Số Lượng</th>
                <th>Đơn Giá</th>
                <th>Khuyến Mại</th>
                <th>Thành Tiền</th>
                <th>Chức năng</th>
            </tr>
            @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="height:60px; width:auto" src="~/HinhAnhSp/@item.AnhBia" />
                </td>
                <td>
                    @item.MaSach
                </td>
                <td>@item.TenSach</td>
                @using (@Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSach = item.MaSach }))
                {

                    <td>@Html.TextBox("txtSoLuong", item.SoLuong)</td>
                    <td>@item.DonGia</td>
                    <td>@item.KhuyenMai</td>
                    <td>@item.ThanhTien</td>
                    <td><input type="submit" value="Sửa" /> | <a href="~/GioHang/XoaSanPham?MaSach=@item.MaSach">Xóa</a></td>
                }
            </tr>
        }
            }

        </table>
        <p>Tổng tiền: @ViewBag.TongTien </p>
        @Html.ActionLink("Đặt hàng", "InsertDonHang", "GioHang", new { @class = "btn btn-danger" })
        <hr />
    }
}

<h3 class="title">Đơn hàng đã đặt</h3>
@Html.Partial("~/Views/GioHang/DonHangDaDatPartial.cshtml", GioHang.DonHangDaDat())
