@model IEnumerable<BookStore.Entities.BSNXB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h4 class="title">Danh sách nhà xuất bản</h4>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th style="width:100px">Chức năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MANXB }) |
            @Html.ActionLink("Details", "Details", new { id=item.MANXB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MANXB })*@
            <a href="Edit?id=@item.MANXB">
                <img src="~/HinhAnh/edit.png" />
            </a>
            <a href="Details?id=@item.MANXB">
                <img src="~/HinhAnh/detail.png" />
            </a>
            <a href="Delete?id=@item.MANXB">
                <img src="~/HinhAnh/delete.png" />
            </a>
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>